<h2>Hello {{ user.username }},</h2>

<p>We wanted to let you know that your order <strong>#{{ order.id }}</strong> status has been updated to:</p>
<h3>📦 <strong>{{ order.status|title }}</strong></h3>

<p>You’ll be notified again when there are more updates regarding your order’s journey.</p>

<p>We will delivery your order shortly.</p>

<p>Thank you for choosing <strong>Our Store</strong>. We're always here if you have any questions or concerns!</p>

<p><em>- The Our Store Support Team</em></p>
